*.aux
*.blbl
*.bbl
*.blg
*.brf
*.lbl
*.log
*.glg
*.glg-abr
*.glo
*.glo-abr
*.gls
*.ist
*.lof
*.lot
*.nomenclature-glg
*.nomenclature-glo
*.nomenclature-gls
*.symbols-glg
*.symbols-glo
*.symbols-gls
*.toc
*.gls-abr
uw-ethesis.pdf
uw-ethesis.out
thesis.pdf
thesis.out
